$masonry-gutter: 2em;
$widget-border-radius: 0.5em;
$widget-background: #f0f0f0;

.Dashboard {
  display: block;
  columns: 30rem;
  gap: $masonry-gutter;
}

%Widget {
  margin-bottom: $masonry-gutter;
  break-inside: avoid;

  .Title {
    display: block;
    padding: 0.5em 0 0.25em;
    margin: 0;
  }

  .Data {
    background-color: $widget-background;
    border-radius: $widget-border-radius;
  }
}

.Bar {
  @extend %Widget;
}

.GeoMap {
  @extend %Widget;
}

.HeatMap {
  @extend %Widget;
}

.Pie {
  @extend %Widget;
}

.Stats {
  @extend %Widget;

  .Data {
    background-color: transparent;
    display: grid;
    column-gap: $masonry-gutter;
    row-gap: $masonry-gutter;
    grid-template-columns: repeat(2, 1fr);
  }

  .Stat {
    padding: 1em;
    background-color: $widget-background;
    border-radius: $widget-border-radius;
    text-align: center;

    .Label {
      margin-top: 0.25em;
    }

    .Value {
      line-height: 1em;
      font-size: 2em;
    }
  }
}

.TreeMap {
  @extend %Widget;
}
