$masonry-gutter: 2rem;

.Columns {
  display: block;
  columns: 30rem;
  gap: $masonry-gutter;

  & > * {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
