@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.CodeEditor {
  background-color: #ccc;
  border-radius: 0.375rem;
  padding: 0.125em;
  position: relative;

  .EditorControls {
    text-align: right;
    padding: 0.25em;
    margin: -0.125em -0.125em 0;

    :last-child {
      margin-right: 0;
    }

    .CodeEditorButton {
      padding-left: 0;
      padding-right: 0;
      width: 2rem;
    }
  }

  .EditorElements {
    * + * {
      margin-top: 0.125em;
    }

    :first-child {
      border-top-left-radius: 0.25em;
      border-top-right-radius: 0.25em;
    }

    :last-child {
      border-bottom-left-radius: 0.25em;
      border-bottom-right-radius: 0.25em;
    }

    .LivePreview {
      background-color: white;
      padding: 0.625rem;
    }

    .LiveEditor {
      // WARNING!!!
      // Almost all styles are inline so in order to use styles here, we have to
      // mute them in the theme. Eventually we could not pass a theme into the
      // editor at all and rely on our own styles here or in a reusable theme.
      background-color: #111;
      font-family: 'Dank Mono', 'Fira Code', monospace;
    }

    .LiveError {
      background-color: #111;
      font-family: 'Dank Mono', 'Fira Code', monospace;
      color: red;
      margin-bottom: 0;
      padding: 0.625rem;
      font-size: 0.875em;
    }
  }
}
