.DS_Store
.env
app-tests/**/yarn.lock
build
cjs
coverage
dist
es
lerna-debug.log
node_modules
undefined
yarn-error.log
.vercel
.npmrc

# Ignore everything in the icons package
packages/icons/*
# Except for the contents of src and the package.json file
!packages/icons/src
!packages/icons/package.json
