.DS_Store
.env
app-tests/**/yarn.lock
build
cjs
coverage
dist
es
lerna-debug.log
node_modules
undefined
yarn-error.log
.vercel
.npmrc
.yarn

# Ignore all JS files in the root of icons
packages/icons/*.js
