.FormOld {
  margin-top: 1em;

  & > * {
    margin-bottom: 1em;
  }
}

.FormOldRow {
  margin: 0;
  display: contents;

  & > * {
    margin-bottom: 1em;
  }
}

.FormOldActionBar {
  margin: 0;
  display: contents;

  & > * {
    margin-bottom: 1em;
  }
}

// Need to standardize these breakpoints
@media (min-width: 720px) {
  .FormOldRow {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  }
}
