$module-padding: 0;
$input-padding: 0.5em 0.75em;
$color-focus: goldenrod;

%ModuleLabel {
  font-size: 0.875em;
  display: block;
  font-weight: 600;
}

%ModuleContainer {
  padding: $module-padding;
  margin: 0.5em 0;

  // border-bottom: 1px solid red;

  .Label {
    @extend %ModuleLabel;
  }

  .Input {
    line-height: 1.35em;
    padding: 0.5em 0;
    display: inline-block;
    border: 1px solid transparent;
    width: 100%;
    border-radius: 0.25em;
    transition: all 200ms ease-in-out;
  }

  input.Input,
  select.Input,
  textarea.Input {
    padding: $input-padding;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0 0 $color-focus;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 2px $color-focus;
    }
  }
}

.Email {
  @extend %ModuleContainer;
}

.Number {
  @extend %ModuleContainer;
}

.Text {
  @extend %ModuleContainer;

  .Input:not(input) {
    white-space: nowrap;
    overflow: scroll;
    // text-overflow: ellipsis;
  }
}

.TextArea {
  @extend %ModuleContainer;

  .Input {
    resize: none;
  }
}

.Checkbox {
  .Label {
    @extend %ModuleLabel;
  }

  .Input {
    padding: 2em;
  }
}

.Select {
  @extend %ModuleContainer;

  select.Input {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=)
      no-repeat 98% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
