@use '../shared/styles/cascara';

$module-padding: 0;
$input-padding: 0.5em 0.75em;
$input-border-radius: 0.25em;
$input-border-color: rgba(0, 0, 0, 0.5);
$color-focus: goldenrod;

$masonry-gutter: 2em;
$module-border-radius: 0.5em;
$module-background: #f0f0f0;

%ModuleLabel {
  font-size: 0.875em;
  display: block;
  font-weight: 600;
}

%ModuleContainer {
  width: 100%;
  padding: $module-padding;

  // border-bottom: 1px solid red;

  .LabelText {
    @extend %ModuleLabel;
  }

  .Input {
    @include cascara.scroll-horizontal;
    line-height: 1.35em;
    padding: 0.5em 0;
    display: inline-block;
    border: 1px solid transparent;
    width: 100%;
    border-radius: $input-border-radius;
    transition: box-shadow 300ms ease-in-out;
  }

  input.Input,
  select.Input,
  textarea.Input {
    padding: $input-padding;
    border-color: $input-border-color;
    box-shadow: inset 0 0 0 0 $color-focus;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 2px $color-focus;
    }
  }
}

.Email,
.File,
.Image,
.Month,
.Number,
.Tel,
.Password,
.Text,
.TextArea,
.Select {
  @extend %ModuleContainer;
}

.Text {
  .Input:not(input) {
    white-space: nowrap;
  }
}

.TextArea {
  .Input {
    resize: none;
  }
}

.Checkbox,
.Radio {
  label {
    display: block;
    margin: 0.5em 0;
  }

  .LabelText {
    margin-left: 0.5em;
  }

  .Input {
    position: relative;
    width: 1.75em;
    height: 1.75em;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $input-border-color;
    box-shadow: inset 0 0 0 0 $color-focus;
    transition: box-shadow 300ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:not(input) {
      border-color: transparent;
    }

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 2px $color-focus;
    }

    &:before,
    &:after {
      content: ' ';
      background: $color-focus;
      position: absolute;
      transition: transform 100ms ease-out;
    }
  }
}

.Checkbox {
  .Input {
    border-radius: $input-border-radius;

    &:before,
    &:after {
      height: 0.25em;
      top: 50%;
      left: 50%;
    }

    $short-line-transform: translate(-130%, 100%) rotate(45deg);
    $long-line-transform: translate(-15%, 100%) rotate(-45deg);

    &:before {
      width: 0.625em;
      transform-origin: bottom right;
      transform: $short-line-transform scale(0);
    }

    &:after {
      width: 1.125em;
      transform-origin: bottom left;
      transform: $long-line-transform scale(0);
    }

    &:checked,
    &[data-checked] {
      &:before {
        transform: $short-line-transform scale(1);
      }
      &:after {
        transform: $long-line-transform scale(1);
      }
    }
  }
}

.Radio {
  .Input {
    border-radius: 50%;

    &:before {
      border-radius: 50%;
      width: 1em;
      height: 1em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
    }

    &:checked,
    &[data-checked] {
      &:before {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

.Select {
  select.Input {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=)
      no-repeat 98% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.Error {
  padding: 1em;
  border: 2px solid #900;
  background-color: #fcc;
  color: #900;
  border-radius: $module-border-radius;
  font-size: 0.875em;
  font-family: monospace;

  h4 {
    margin-bottom: 0.5em;
  }

  code {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.125em 0.375em;
    border-radius: 0.25em;
  }
}
