.Parent {
  .Container {
    font-size: 0.75rem;
    color: #eee;
    background-color: rgba(33, 33, 33, 0.9);
    padding: 0.25em 0.75em;
    border-radius: 0.5em;
    transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
    opacity: 0;
    transform-origin: top center;
    transform: translate3d(0, 10px, 0);
  }

  &[data-enter] {
    .Container {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
