.PropTable {
  & > * {
    margin: 0;
    border-bottom: 1px solid var(--color-transparent-grey, grey);
  }
}

.Title {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.2);

  > * {
    margin-right: 1em;
  }
}

.Details[open] {
  .Summary {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.Summary {
  padding: 0.375em 1em 0.375em 2em;
  position: sticky;
  top: 0;

  &:focus,
  &:hover {
    outline: none;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.15);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.Content {
  overflow: scroll;
  margin: 0;
  padding: 1em 1em 1em 2em;
}
