$border: 1px solid rgba(0, 0, 0, 0.15);

@keyframes loading-pulse {
  0% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
  }
}

:global html[data-structure='Admin'] {
  --main-max-width: 60rem;
  --drawer-max-width: 30rem;
  --nav-max-width: 20rem;

  body,
  #root,
  #next {
    height: 100%;
  }

  #root,
  #next {
    display: grid;
    grid-template-columns: var(--nav-max-width) minmax(0, 1fr) var(
        --drawer-max-width
      );
    grid-template-rows: 4em auto;
    grid-template-areas:
      'header header header'
      'nav main drawer';
  }
}

._drawer {
  grid-area: drawer;
}

._header {
  grid-area: header;
}

._main {
  grid-row: main;
  grid-column-start: main;
  grid-column-end: drawer;

  &.with_drawer {
    grid-column-end: main;
  }
}

._nav {
  grid-area: nav;
}

.Nav,
.Main,
.Drawer {
  max-width: 100%;
  height: 100%;
  overflow: auto;
}

.Header {
  background-color: rgba(0, 0, 0, 0.04);

  .Title {
    padding: 0 1rem;
    line-height: 4rem;
  }
}

.Main,
.Drawer {
  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Main {
  padding: 2em;
}

.loading {
  animation: loading-pulse ease-in-out 1s infinite;
}

.Nav {
  padding: 0.5rem;

  .Link {
    display: block;
    padding: 1rem;
    color: #666;
    line-height: 1;
    border-radius: 0.5em;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

    &:hover {
      color: #000;
      background-color: rgba(0, 0, 0, 0.08);
    }

    &:global.active {
      color: #333;
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}
