@use '~@espressive/cascara/styles' as *;

$border: 1px solid rgba(0, 0, 0, 0.15);

@keyframes loading-pulse {
  0% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
  }
}

:global html[data-structure='Admin'] {
  --drawer-max-width: 4rem;
  --nav-max-width: 4.25rem;

  @include media-gt-sm {
    --drawer-max-width: 20rem;
    --nav-max-width: 15rem;
  }

  @include media-gt-md {
    --drawer-max-width: 30rem;
    --nav-max-width: 20rem;
  }

  body,
  #root,
  #next,
  #__next,
  #app {
    // #app is needed in our legacy application and can be removed someday
    height: 100%;
  }

  #app .app-root {
    display: contents;
  }

  #root,
  #next,
  #__next,
  #app {
    display: grid;
    grid-template-columns: var(--nav-max-width) minmax(0, 1fr) var(
        --drawer-max-width
      );
    grid-template-rows: 4rem auto;
    grid-template-areas:
      'header header header'
      'nav main drawer';
  }
}

._drawer {
  @include scroll-vertical;
  // background-color: mediumaquamarine;
  grid-area: drawer;
}

._header {
  // background-color: fuchsia;
  grid-area: header;
}

._main {
  @include scroll-vertical;
  // background-color: hotpink;
  grid-row: main;
  grid-column-start: main;
  grid-column-end: drawer;
  margin: 0em 3em;

  &.with_drawer {
    grid-column-end: main;
  }
}

._nav {
  @include scroll-vertical;
  min-width: 300px;
  margin: 16px;
  // background-color: purple;
  grid-area: nav;
  grid-row: nav;

  grid-column-start: nav;

  grid-column-end: nav;
  overflow-y: visible;
  overflow-x: hidden;
}
