:global html[data-layout='admin'] {
  & body,
  & #root {
    background-color: red;
    height: 100%;
    overflow: hidden;
  }

  & #root {
    display: grid;
    grid-template-columns: 12em auto;
    grid-template-rows: 4em auto;
    grid-template-areas:
      'header header'
      'nav main';
  }
}

// This needs to become a reusable partial
%scrollbars {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.15em solid rgba(0, 0, 0, 0);
    border-radius: 1em;
    box-shadow: inset 0 0 0 0.05em rgba(255, 255, 255, 0.5);
  }

  &:hover {
    &::-webkit-scrollbar {
      width: 0.8em;
    }
  }
}

.Header {
  grid-area: header;
  background-color: blue;
}

.Nav {
  @extend %scrollbars;
  grid-area: nav;
  background-color: grey;
}

.Main {
  @extend %scrollbars;
  grid-area: main;
  background-color: green;
}
