:global html[data-layout='admin'] {
  & body,
  & #root {
    height: 100%;
  }
}

._ {
  padding: 1em;
  background-color: red;
  height: 100%;
}

.Header {
  background-color: blue;
}

.Nav {
  background-color: yellow;
}

.Main {
  background-color: green;
}
