._ {
  margin: 0;
  padding-left: 0;
  list-style-type: none;

  .Item {
    border-bottom: 1px solid #eee;

    &:last-of-type {
      border-bottom: none;
    }

    .Link {
      color: unset;
      cursor: pointer;
      display: block;
      padding: 0.5em 0.75em;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

      &:active,
      &:focus {
        background-color: rgba(0, 0, 0, 0.06);
      }
    }

    // * + .Content {
    //   padding-left: 0.25em;
    // }

    .Content {
      .Label {
        font-weight: 500;
      }

      .Descripton {
        font-size: 0.875em;
        opacity: 0.9;
        line-height: 1;
      }
    }

    &:before {
      display: none;
    }

    :global(.content) {
      width: auto;
    }
  }
}
