.Disclosure {
  // border-radius: 50%;
  // width: 2em;
  // height: 2em;

  &:focus {
    outline: none;
  }
}

.Popover {
  padding: 1em;
  background-color: #fff;
  z-index: 1000;
  transition: opacity 150ms ease-in-out;
  opacity: 0;
  max-width: 28em;

  &[data-enter] {
    opacity: 1;
  }
}
