@use '~@espressive/cascara/styles' as *;

$vertical-spacing: 0.5rem;
$horizontal-spacing: 1rem;
$focus-color: #000;
$focus-background-color: rgba(0, 0, 0, 0.08);
$active-color: var(--brand-text-color, #000);
$active-background-color: var(--brand-color, #ddd);

.Nav {
  height: 100%;
  background-color: #f6f6f6;
  position: relative;
  z-index: 100;
  width: 100%;
  transition: width 200ms ease-in-out;
  min-width: 300px;

  :global .label {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }

  &:hover,
  &:focus {
    width: 15rem;
    outline: none;

    :global .label {
      opacity: 1;
    }
  }

  @include media-gt-sm {
    width: auto;
    transition: none;
    background-color: initial;

    &:hover,
    &:focus {
      width: auto;
    }

    :global .label {
      opacity: 1;
    }
  }

  .NavMenuButton {
    cursor: pointer;
    display: block;
    font-weight: normal;
    font-size: 1em;
    text-align: left;
    width: 100%;
    margin-top: $vertical-spacing;
    background-color: transparent;
    color: rgb(102, 102, 102);

    border: none;
    margin: 8px 0px;
    border-radius: 0.5em;
    padding: 0.75rem 1rem;

    &:last-child {
      margin-bottom: $vertical-spacing;
    }

    &:focus {
      margin-bottom: 0px;
      outline: none;
      color: $focus-color;
    }

    &[aria-expanded] {
      &:after {
        float: right;
      }
    }

    &[aria-expanded='true'] {
      // color: $active-color;
      // border-bottom: 0px;
      // border-bottom-left-radius: 0%;
      // border-bottom-right-radius: 0%;
      margin-bottom: 0px;
      &:after {
        content: '−';
      }
    }

    &[aria-expanded='false'] {
      &:after {
        content: '+';
      }
    }
  }

  .NavMenu {
    padding: 8px 16px 16px 47px;

    & + .NavLink {
      margin-top: $vertical-spacing;
    }
  }

  & > .NavLink {
    margin: 0 0 0 $vertical-spacing;
  }

  .NavLink {
    min-width: 300px;
    min-height: 44px;
    padding: 12px;
    border-radius: 0.5em;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out,
      box-shadow 200ms ease-in-out;

    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-appearance: none; // Safari if type=button

    display: flex;
    align-items: center;

    margin: 8px 0px;

    background-color: #fff;
    color: #4f4f4f;
    font-weight: 400;

    & span {
      font-size: 18px;
      font-weight: 400;
      display: inline-block;
      color: #4f4f4f;
    }

    &:hover {
      border: 2px solid #efefef;
      border-radius: 8px;
      padding: 10px;
    }

    &:focus {
      background-color: $focus-background-color;
      border-radius: 8px;
      font-weight: 700;
      color: #4f4f4f;
    }

    &:global.active {
      color: #4f4f4f;
      background-color: $focus-background-color;
      font-weight: 700;
      border-radius: 8px;
    }
  }
}
