@use '~@espressive/cascara/styles' as *;

$vertical-spacing: 0.5rem;
$horizontal-spacing: 1rem;
$focus-color: #000;
$focus-background-color: rgba(0, 0, 0, 0.08);
$active-color: var(--brand-text-color, #000);
$active-background-color: var(--brand-color, #ddd);

.Nav {
  height: fit-content;
  background-color: #f6f6f6;
  position: relative;
  z-index: 100;
  width: 100%;

  :global .label {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    opacity: 0;
  }

  &:hover,
  &:focus {
    outline: none;

    :global .label {
      opacity: 1;
    }
  }

  @include media-gt-sm {
    width: 100%;
    transition: none;
    background-color: #fff;

    &:hover,
    &:focus {
      width: 100%;
    }

    :global .label {
      opacity: 1;
    }
  }

  .NavMenuButton {
    cursor: pointer;
    background-color: #fff;
    color: #4f4f4f;
    font-weight: 400;

    font-size: 16px;
    text-align: left;

    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-appearance: none; // Safari if type=button

    border: none;
    border-radius: 8px;
    margin: 8px 0px;

    width: 98%;
    min-height: 44px;
    padding: 12px;

    & span {
      font-size: 18px;
      font-weight: 400;
      color: #4f4f4f;
    }

    &:hover {
      border: 2px solid #efefef;
      border-radius: 8px;
      padding: 10px;
    }

    &:focus {
      margin-bottom: 0px;
      outline: none;
    }

    &[aria-expanded] {
      &:after {
        float: right;
        font-size: 18px;
        font-weight: 400;
        color: #4f4f4f;
      }
    }

    &[aria-expanded='true'] {
      background-color: #f8f8f8;
      border: none;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      margin-bottom: 0px;
      padding: 12px;
      &:after {
        content: '−';
      }
    }

    &[aria-expanded='false'] {
      &:after {
        content: '+';
      }
    }
  }

  .NavMenu {
    background-color: #f8f8f8;
    width: 98%;
    margin-top: 0px;
    border-radius: 0px 0px 8px 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    & > .NavLink {
      margin-top: 0;
    }
    & .NavLink {
      padding-left: 1.8em !important;
      padding-top: 8px !important;
      padding-bottom: 8px !important;
      background-color: #f8f8f8;

      & span {
        font-size: 16px;
        display: inline-block;
        width: 100%;
        &:hover {
          font-weight: 700;
        }
      }
      &:hover {
        border: none;
        font-weight: 700;
      }
      &:focus {
        background-color: transparent !important;
      }
    }
  }

  & > .NavLink {
    margin: 0 0 0 $vertical-spacing;
  }

  .NavLink {
    width: 98%;
    min-height: 44px;
    padding: 12px;
    border-radius: 0.5em;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out,
      box-shadow 200ms ease-in-out;

    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-appearance: none; // Safari if type=button

    display: flex;
    align-items: center;

    margin: 8px 0px;

    background-color: #fff;
    color: #4f4f4f;
    font-weight: 400;

    & span {
      font-size: 18px;
      font-weight: 400;
      color: #4f4f4f;
    }

    &:hover {
      border: 2px solid #efefef;
      border-radius: 8px;
      padding: 10px;
    }

    &:focus {
      background-color: $focus-background-color;
      border-radius: 8px;
      font-weight: 700;
      color: #4f4f4f;
      & span {
        font-weight: 700;
      }
    }

    &:global.active {
      color: #4f4f4f;
      background-color: $focus-background-color;
      font-weight: 700;
      border-radius: 8px;
    }
  }
}
