@use 'cascara';

:global html[data-layout='admin'] {
  // For performance reasons, we may want to consider importing and setting these
  // separately, maybe with some loading styles. Otherwise we will have a flash of
  // elements internally that do not have the data-layout attribute present yet
  // we have un-grid elements popping on the screen

  --document-background: #dddee0;
  --document-text: #1e262b;
  --brand-primary-color: purple;
  --brand-secondary-color: yellow;
  --color-transparent-grey: rgba(127, 127, 127, 0.375);

  @media (prefers-color-scheme: dark) {
    --document-background: #1e262b;
    --document-text: #dddee0;
    --brand-primary-color: red;
    --brand-secondary-color: orange;
  }

  & body,
  & #root,
  & #__next {
    color: var(--document-text);
    background-color: var(--document-background);
    height: 100%;
    overflow: hidden;
  }

  & #root,
  & #__next {
    display: grid;
    grid-template-columns: 20em auto 30em;
    grid-template-rows: 4em auto;
    grid-template-areas:
      'header header header'
      'nav main drawer';
  }
}

.Header {
  grid-area: header;
  box-shadow: inset 0 -1px var(--color-transparent-grey);
}

.Nav {
  @include cascara.scroll-vertical;
  grid-area: nav;
  box-shadow: inset -1px 0 var(--color-transparent-grey);
}

.Main {
  @include cascara.scroll-vertical;
  grid-area: main;
}

.Drawer {
  @include cascara.scroll-vertical;
  grid-area: drawer;
  box-shadow: inset 1px 0 var(--color-transparent-grey);
}
