# This is a readonly token: Espressive Team Package Read Only
//npm.pkg.github.com/:_authToken=89e9a943abd6258a6737ccf3a4d48da28ea42c9b
save-exact = true
@espressive:registry=https://npm.pkg.github.com