.tableFooterSticky {
  position: sticky;
  inset-block-end: 0;
  background-color: #e6e6e6;
  border-top: 2px solid #ccc;
  height: 3em;
}
.tableHeaderSticky {
  background-color: #e6e6e6;
  position: sticky;
  inset-block-start: 0;
}
.footerHidden {
  display: none;
}
