@use '~@espressive/design-tokens/scss' as *;

%scrollbars {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: $color-base-gray-medium;
    border: 0.25rem solid rgba(0, 0, 0, 0);
    border-radius: 1rem;
    box-shadow: inset 0 0 0 0.05em rgba(255, 255, 255, 0.2);
  }

  &:hover {
    &::-webkit-scrollbar {
      width: 0.875rem;
    }
  }
}

@mixin vertical {
  overflow-y: overlay;

  @extend %scrollbars;
}

@mixin horizontal {
  overflow-x: overlay;

  @extend %scrollbars;
}

@mixin all {
  overflow: overlay;

  @extend %scrollbars;
}
