// Shared styles for the rule images
%ruleImg {
  h6 {
    font-weight: 600;
    font-size: 1rem;

    &:before {
      margin-right: 0.5em;
    }
  }
}

._ {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.25em;
  }

  .Do {
    @extend %ruleImg;
    color: green;

    h6:before {
      content: '✔️';
    }
  }

  .Dont {
    @extend %ruleImg;
    color: red;

    h6:before {
      content: '🚫';
    }
  }
}
