$header-background: #eee;

.Table {
  border: 1px solid $header-background;
  display: inline-grid;
  grid-template-rows: auto;
  overflow: auto;
  max-width: 100%;
  margin: 1em 0;

  // This removes these markup elements from the flow of the
  // document so we can render all cells as part of the grid
  .HeadContainer,
  .BodyContainer,
  .FootContainer,
  .Row {
    display: contents;
  }

  .HeadCell,
  .Cell {
    text-align: left;
    padding: 0.5em;
    vertical-align: middle;
  }

  .HeadContainer {
    position: sticky;
    top: 0;
  }

  .HeadCell {
    font-size: 0.9em;
    background-color: $header-background;
  }

  .Cell {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
  }

  .CellActions {
    @extend .Cell;

    position: sticky;
    right: 0;
    white-space: nowrap;
  }

  // Even though this is display: contents, we can still use it
  // for css specificity
  .Row {
    &:nth-of-type(odd) {
      .Cell,
      .CellActions {
        background-color: #fff;
      }
    }
    &:nth-of-type(even) {
      .Cell,
      .CellActions {
        background-color: #f2f2f2;
      }
    }
  }
}
