html[data-layout='admin'] div#__next {
  --brand-primary-color: #b4104b;
}

a {
  color: var(--brand-primary-color);
  &:hover {
    color: var(--brand-primary-color);
    text-decoration: underline;
  }
}

:not(pre) > code {
  padding: 0.125em 0.25em;
  border-radius: 0.25em;
  color: rgb(255, 245, 246);
  text-shadow: rgb(0, 0, 0) 0px 0px 2px, rgba(252, 31, 44, 0.46) 0px 0px 10px,
    rgba(252, 31, 44, 0.46) 0px 0px 5px, rgba(252, 31, 44, 0.46) 0px 0px 25px;
  background-color: #111;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  grid-row-gap: 1ch;

  dt {
    font-weight: 600;
    font-size: 0.9em;
    grid-column-start: 1;
  }

  dd {
    grid-column-start: 2;

    * + * {
      margin-left: 0.5em;
    }

    span {
      &:after {
        content: ',';
      }

      &:last-child:after {
        content: ' ';
      }
    }
  }
}

main {
  & > div {
    // max-width: 60em;
    padding: 2em;
  }

  img.right {
    float: right;
    margin-left: 1em;
  }

  img.left {
    float: left;
    margin-right: 1em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      margin-left: -1.125em;
      display: inline-block;
      width: 1.125em;
      height: 1em;
      text-align: center;
      opacity: 0;
      transform: translateX(100%);
      transition: all 200ms ease-in-out;
      outline: none;
      background-image: url('../img/link.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 90% 90%;
    }

    &:hover a {
      opacity: 1;
      transform: translateX(0);

      &:hover {
        color: var(--document-text);
        text-decoration: none;
      }
    }
  }

  p {
    line-height: 1.75em;
  }

  ul,
  ol {
    line-height: 2em;
    padding-inline-start: 2em;
  }

  blockquote {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0.5em 1em;
    background-color: var(--color-transparent-grey, grey);
    border-radius: 0.25em;
    border-inline-start: 0.25em solid var(--brand-primary-color);

    footer {
      &:before {
        content: '- ';
      }
      text-align: right;
      font-style: italic;
    }
  }
}
