$masonry-gutter: 2em;
$widget-border-radius: 0.5em;
$widget-background: #f0f0f0;

._ {
  margin-bottom: $masonry-gutter;
  break-inside: avoid;
  display: inline-block;
  position: relative;
  padding: 1em;
  background-color: $widget-background;
  border-radius: $widget-border-radius;
  display: flex;
  flex-direction: column;

  .Label {
    margin: 0.25em 0;
  }

  .Value {
    line-height: 1em;
    font-size: 2em;
  }

  .Sub {
    font-style: italic;
    font-size: 0.875em;
  }

  &.clickable {
    position: relative;

    &:after {
      font-size: 1.2em;
      position: absolute;
      right: 1em;
      opacity: 0.25;
    }

    &:focus:after {
      opacity: 0.5;
    }
  }

  &.fluid {
    width: 100%;
  }
}
