# This is a readonly token: Espressive Team Package Read Only
//npm.pkg.github.com/:_authToken=0eee88fe734f1fd4ff52175faa230755c74d8c37
save-exact = true
@espressive:registry=https://npm.pkg.github.com