@keyframes loading-pulse {
  0% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes loading-ping {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.Loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  & > div {
    position: absolute;
    border: 4px solid rgba(0, 0, 0, 0.5);
    opacity: 1;
    border-radius: 50%;
    animation: loading-ping 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

    &:nth-child(2) {
      animation-delay: -0.5s;
    }
  }
}

.loading {
  animation: loading-pulse ease-in-out 1s infinite;
}

.List,
.Detail {
  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Header,
.List,
.Nav {
  height: 100%;
}

.Detail,
.Nav,
.Header {
  background-color: rgba(117, 61, 61, 0.03);
}

.Detail {
  margin: 1em;
  border-radius: 0.25em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: calc(100% - 2em);
  max-width: 36em;
}

.Heading {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

// .List {
// }

// .Nav {
// }

// .Header {
// }
